.alerts {
  position: absolute;
  //   color: red;
  width: 20vw;
  top: 16vw;
  left: 39vw;
  border: 1px solid green;
  height: 3vw;
  text-align: center;
  font-size: 1vw;
  border-radius: 30%;
  //   line-height: 7px;
  //   font-size: large;
}
