.homeSection {
  position: relative;
  width: 100%;
  height: 1290px;
  background: url(../../Media/Images/homeBg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 1290px;
  .homeSection_dotsRight {
    position: absolute;
    right: 10px;
    width: 120px;
    height: 750px;
    background: url("../../Media/Images/dotsRight.png");
    top: 560px;
    background-position: center;
  }
  .homeSection_dotsLeft {
    position: absolute;
    left: 10px;
    width: 120px;
    height: 750px;
    background: url("../../Media/Images/dotsLeft.png");
    top: 290px;
    background-position: center;
  }
  .bgGrafic {
    background: url("../../Media/Images/oneLayer.png");
    height: 1290px;

    background-repeat: no-repeat;
    /* background-position: right 50% top -140px; */
    background-position: right 0px;
  }
}
